[submodule "vendor_crapware/aquaris-5HD"]
	path = vendor_crapware/aquaris-5HD
	url = https://github.com/MediaDeb/aquaris-5HD.git
[submodule "tools/mtk-tools"]
	path = tools/mtk-tools
	url = https://github.com/bgcngm/mtk-tools.git
[submodule "tools/skyforge"]
	path = tools/skyforge
	url = https://github.com/RC-MODULE/skyforge
